{% extends "base.html" %} {% block title %}Settings{% endblock %} {% block content
%}
<h1 align="center">Edit category</h1>
<form method="POST">
  <div class="col">
    <input class="btn" type="text" id="category_name" name="category_name" placeholder="Name" value="{{ category_name }}">
    <br />
    <input class="btn" type="number" id="category_limit" name="category_limit" placeholder="Limit" value="{{ category_limit }}">
    <br />
    <input class="btn" type="submit" value="Submit">
  </div>
</form>
{% endblock %}
