{% extends "base.html" %} {% block title %}History{% endblock %} {% block content %}
{% if user.history|length > 0 %}
<h1 align="center">History</h1>
<table id="categories_table">
  <tr>
    <th>Period</th>
    <th>Outcomes</th>
    <th>Incomes</th>
    <th>Options</th>
  </tr>
      {% for period in user.history %}
        <tr>
            <td>{{ period.name }}</td>
            <td>{{ period.outcomes }}</td>
            <td>{{ period.incomes }}</td>
            <td>
                <form action="{{ url_for('views.delete_period', period_id=period.id) }}" method="post">
                    <button type="submit" name="delete" class="aslink redlink">Delete</button>
                </form>
            </td>
        </tr>
      {% endfor %}
</table>
{% else %}
  <h1 align="center">There are no periods in history to show!</h1>
{% endif %}
{% endblock %}
