{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content %}
<form method="POST">
  <div class="col">
  <h2 align="center">Login</h2>
    <input
      type="text"
      class="btn"
      id="username"
      name="username"
      placeholder="Enter username"
    />
    <input
      type="password"
      class="btn"
      id="pin_code"
      name="pin_code"
      placeholder="Enter pin code"
    />
    <input class="btn" type="submit" value="Login">
    </div>
</form>
{% endblock %}
