{% extends "base.html" %} {% block title %}Settings{% endblock %} {% block content
%}
<h1 align="center">Settings</h1>
<table id="categories_table">
<tr>
  <th>Category</th>
  <th>Limit</th>
  <th>Options</th>
</tr>
    {% for category in user.categories %}
      <tr>
        <td>{{ category.name }}</td>
        <td>{{ category.limit }}</td>
        <td>
          <form action="{{ url_for('views.delete_category', category_id=category.id) }}" method="post">
            <button type="submit" name="edit" class="aslink">Edit</button>
          </form>
          <form action="{{ url_for('views.delete_category', category_id=category.id) }}" method="post">
            <button type="submit" name="clone" class="aslink bluelink">Clone</button>
          </form>
          <form action="{{ url_for('views.delete_category', category_id=category.id) }}" method="post">
            <button type="submit" name="delete" class="aslink redlink">Delete</button>
          </form>
          </td>
      </tr>
    {% endfor %}
</table>
<h2 align="center">Categories</h2>
<form method="POST">
  <div class="col">
    <input class="btn" type="text" id="category_name" name="category_name" placeholder="Name">
    <br />
    <input class="btn" type="text" id="category_limit" name="category_limit" placeholder="Limit">
    <br />
    <input class="btn" type="submit" value="Add category">
  </div>
</form>
<br />
<br />
<form method="POST">
  <div class="col">
    {% if user.active_period|length > 0 %}
      <h2 align="center">Actual period: {{ user.active_period[0].name }}</h2>
      <input class="btn" type="submit" style="background-color: #ff0000" value="Stop period">
    {% else %}
      <h2 align="center">No active period</h2>
      <input class="btn" type="text" id="period_name" name="period_name" placeholder="Period name" required>
      <input class="btn" type="submit" value="Start period">
      {% endif %}
  </div>
</form>
{% endblock %}
