{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Sign Up</h3>
    <label for="username">Username</label>
    <input
      type="text"
      class="btn"
      id="username"
      name="username"
      placeholder="Enter username"
    />
    <label for="pin_code_1">Pin code</label>
    <input
      type="password"
      class="btn"
      id="pin_code_1"
      name="pin_code_1"
      placeholder="Enter pin code"
    />
    <label for="pin_code_2">Pin code (Confirm)</label>
    <input
      type="password"
      class="btn"
      id="pin_code_2"
      name="pin_code_2"
      placeholder="Confirm pin code"
    />
  <button type="submit">Submit</button>
</form>
{% endblock %}
