{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block content %}
<form method="POST">
  <div class="col">
  <h2 align="center">Sign Up</h2>
    <input type="text" class="btn" minlength="3" id="username"  name="username" placeholder="Enter username"/>
    <input type="password" minlength="4" maxlength="4" class="btn" id="pin_code_1" name="pin_code_1" placeholder="Enter pin code"/>
    <input type="password" minlength="4" maxlength="4" class="btn" id="pin_code_2" name="pin_code_2" placeholder="Confirm pin code"/>
  <input id="submit" class="btn" type="submit" value="Submit">
  </div>
</form>
{% endblock %}
